@using Sistema.Gestion.Nómina.DTOs.Prestamos
@using Sistema.Gestion.Nómina.Helpers
@model GetActiveHistorialResponse
<partial name="Messages" />

<link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center" style="margin-bottom:35px">
        <h1 class="my-3">Historial Prestamos Activos </h1>
        <a method="get" asp-controller="Prestamo" asp-action="Index" class="btn btn-primary" style="font-size: 20px"><i class="bi bi-box-arrow-in-left"></i></a>
    </div>

    <div class="row">

        @foreach (var prestamo in Model.Historials)
        {
            <div class="col-12 col-md-6 col-lg-6">
                <div class="card mb-4">
                        <div class="card-header" >
                            <h5 class="card-title">
                                ID Prestamo: @prestamo.Id
                            </h5>
                        </div>
                        <div class="card-body">
                        @if (prestamo.Pagos.Any())
                            {
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped" style="overflow : visible; position:relative">
                                    <thead class="thead-dark">
                                        <tr>
                                            <td>No.</td>
                                            <td>Fecha de Pago</td>
                                            <td>Pagado</td>
                                            <td>Pendiente</td>
                                        </tr>
                                    </thead>
                                    <tbody id="bodytable">
                                        @{
                                            int counter = 1; // Inicializa el contador
                                        }
                                        @foreach (var item in prestamo.Pagos)
                                        {
                                            <tr>
                                                <td>@counter</td> <!-- Muestra el número secuencial -->
                                                <td>@item.fecha</td>
                                                <td>@item.totalPagado</td>
                                                <td>@item.totalPediente</td>
                                            </tr>

                                            counter++; // Incrementa el contador

                                        }
                                    </tbody>
                                </table>
                            </div>
                            }
                            else
                            {
                                <p>Sin pagos realizados.</p>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
</div>

