@using Sistema.Gestion.Nómina.DTOs.Empleados
@using Sistema.Gestion.Nómina.Helpers

@model PaginatedResult<GETEmpleadosResponse>

@{
    ViewData["Title"] = "Empleados";
}

<partial name="Messages" />


<div class="d-flex justify-content-between align-items-center">
    <h1 class="my-3">Empleados</h1>
    @if (PermissionHelper.HasPermission("Empleados.Crear"))
    {
        <button type="button" class="btn btn-primary" onclick="fetchEmployeeData(0)">
            Crear Empleado
        </button>
    }
</div>

<!-- Filtros de Búsqueda -->
<!-- Filtros de Búsqueda -->
<form method="get" asp-controller="Employees" asp-action="Index" class="mb-5">
    <div class="row">
        <div class="col-md-3">
            <label for="DPI">DPI</label>
            <input type="text" class="form-control" id="DPI" name="DPI" value="@ViewBag.DPI" placeholder="Filtrar por DPI">
        </div>
        <div class="col-md-3">
            <label for="Nombre">Nombre</label>
            <input type="text" class="form-control" id="Nombre" name="Nombre" value="@ViewBag.Nombre" placeholder="Filtrar por Nombre">
        </div>
        <div class="col-md-3">
            <label for="Puesto">Puesto</label>
            <input type="text" class="form-control" id="Puesto" name="Puesto" value="@ViewBag.Puesto" placeholder="Filtrar por Puesto">
        </div>
        <div class="col-md-3">
            <label for="Departamento">Departamento</label>
            <input type="text" class="form-control" id="Departamento" name="Departamento" value="@ViewBag.Departamento" placeholder="Filtrar por Departamento">
        </div>
        <div class="col-md-3">
            <label for="estado">Estado</label>
            <select value="@ViewBag.Estado" name="estado" class="form-control" id="estado">
                <option value=1>Activos</option>
                <option value=2>Todos</option>
                <option value=0>Despedidos</option>
            </select>
        </div>
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Buscar</button>
        <a method="get" asp-controller="Employees" asp-action="Index" class="btn btn-secondary">Limpiar</a>
    </div>
</form>


@if (Model.Items.Any())
{
    <div class="table-responsive">
        <table class="table table-bordered table-striped" style="overflow : visible; position:relative">
            <thead class="thead-dark">
                <tr>
                    <td>No.</td>
                    <td>DPI</td>
                    <td>Nombre Completo</td>
                    <td>Puesto</td>
                    <td>Departamento</td>
                    <td>Usuario</td>
                    <td>Acciones</td>
                    
                </tr>
            </thead>
            <tbody>
                @{
                    int counter = 1; // Inicializa el contador
                }
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@counter</td> <!-- Muestra el número secuencial -->
                        <td>@item.DPI</td>
                        <td>@item.Nombre</td>
                        <td>@item.Puesto</td>
                        <td>@item.Departamento</td>
                        @if(item.estado == 1)
                        {
                            <td><label class="alert-success" style="padding:2px"><strong>Activo</strong></label></td>
                        }
                        else if(item.estado == 0)
                        {
                            <td><label class="alert-danger" style="padding:2px"><strong>Bloqueado</strong></label></td>

                        }
                        else
                        {
                            <td><label class="alert-warning" style="padding:2px"><strong>Sin asignar</strong></label></td>

                        }

                        <td>
                            <select class="form-select form-select-sm actions-dropdown">
                                <option selected>Seleccionar</option>
                                @if (PermissionHelper.HasPermission("Empleados.Actualizar"))
                                {
                                    <option value="editar" data-id="@item.Id"> Editar</option>

                                }@if (PermissionHelper.HasPermission("Empleados.Despedir") && !item.despedido)
                                {
                                    <option value="eliminar" data-id="@item.Id">Despedir</option>

                                }@if (PermissionHelper.HasPermission("Empleados.Ver"))
                                {
                                    <option value="detalle" data-id="@item.Id">Ver Detalle</option>

                                }@if (PermissionHelper.HasPermission("Empleados.Actualizar") && item.estado == 0 && !item.despedido)
                                {
                                    <option value="desbloquear" data-id="@item.idUser">Desbloquear</option>
                                }@if (PermissionHelper.HasPermission("Empleados.Ver"))
                                {
                                    <option value="historial" data-id="@item.Id">Historial de Salarios</option>
                                }@if (PermissionHelper.HasPermission("Empleados.Liquidar") && item.estado == 0 && item.despedido)
                                {
                                    <option value="liquidar" data-id="@item.Id">Calcular Liquidación</option>
                                }@if (PermissionHelper.HasPermission("Empleados.Recontratar") && item.estado == 0 && item.despedido)
                                {
                                    <option value="recontratar" data-id="@item.Id">Recontratar</option>
                                }
                            </select>
                        </td>
                    </tr>

                    counter++; // Incrementa el contador

                }

            </tbody>
        </table>
    </div>

    <!-- Paginación -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new GetEmployeesDTO { page = i, DPI = ViewBag.DPI, Nombre = ViewBag.Nombre, Puesto = ViewBag.Puesto, Departamento = ViewBag.Departamento, estado = ViewBag.Estado })">
                        @i
                    </a>
                </li>
            }
        </ul>
    </nav>

}
else
{
    <p>No hay empleados disponibles.</p>
}

<partial name="Create" />
<partial name="Update" />
<partial name="Details" />
<partial name="Delete" />
<partial name="UnlockUser" />
<partial name="HistorySueldo" />
<partial name="Liquidar" />
<partial name="ConfirmRecontrato" />

<script src="/js/Employees.js" asp-append-version="true"></script>
